
@{
    ViewBag.Title = "Dashboard";

    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div id="content-header">
    <div id="breadcrumb"> <a href="~/Admin/Dashboard" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Dasboard</a></div>
    <h1>Dasboard</h1>
</div>
<div class="container-fluid">
    @*<div class="quick-actions_homepage">
            <ul class="quick-actions">
                <li> <a href="#"> <i class="icon-dashboard"></i> My Dashboard </a> </li>
                <li> <a href="#"> <i class="icon-shopping-bag"></i> Shopping Cart</a> </li>
                <li> <a href="#"> <i class="icon-web"></i> Web Marketing </a> </li>
                <li> <a href="#"> <i class="icon-people"></i> Manage Users </a> </li>
                <li> <a href="#"> <i class="icon-calendar"></i> Manage Events </a> </li>
            </ul>
        </div>*@


    <hr>
    
    
    </div>

